* {
    box-sizing: border-box;
  }

body {
    font-family: sans-seif;
    background-color: #0f0f29;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
}

.settings {
    margin-top:70px;
    margin-left: 500px;
}

.setting-screen { /* 설정창 부분 전체틀 */
    display: flex;
    background-color: #1b1b1b;
    width: 900px; /* 설정창 전체 넓이 */
    height: 600px; /* 설정창 전체 높이 */
}
  
.ssidebar { /* 설정창 사이드바 */
    width: 200px; /* 설정창 사이드바 넓이 */
    background-color: #333333;
    font-size: 14px;
    font-weight: bold;
}
  
.ssidebar ul {
    padding: 0;
    margin: 0;
    /* 위치 조정 */
}
  
.ssidebar li {
    list-style: none; /* ul li로 리스트 만들거기 때문에 list-style: none; */
    padding: 15px 20px;
    height: 56px; /* 다른 언어로 변경할 때 언어간 높이 차이로 인한 움직임 방지 */
    cursor: pointer; /* 커서 모양 손모양으로 */
    border-bottom: 1px solid #666666; /* 구분선 */
}

.ssidebar li:hover {
  background-color: #4b4b4b;
}
  
a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #f8f8f8; /* 흰색보다 약간 탁한색 */
}

label:hover {
    cursor: pointer;
}
  
.content {
    flex: 1;
    padding: 0 20px 0 20px; /* 설정창 사이드바 옆 설정화면 사방 공간 */
}

.topcontent {
  margin-top: 50px; /* 창 마다 창 제목 밑의 가장 위에 있는 항목에 대한 마진 */
}
  
.setting-section {
    display: none; /* 선택되기 전까지는 내용 없음 (공간도 차지 안함) */
}
  
.setting-section:target {
    display: block; /* 선택되면 내용 보임 */
}

select { /* audio quality 부분 */
    width: 50%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 25px; /* 둥글게 둥글게 */
}

button { /* 버튼을 배경색과 같게하고 border 없앰 */
    background-color: #1b1b1b;
    border: none;
}

.history {
    background-color: #11642e;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 5px;
}

input:hover {
    cursor: pointer;
}

/* 토글 버튼 */


.toggle ul.alert_switch li {
    width: 215px;
    position: relative;
}

/* ul의 기본적인 공백 지우기 + 장식 없애기 */
ul {
    padding:0px;
    margin:0px;
    list-style:none
}

/* 스위치 크기와 기본적인 요소 + OFF로 전환할 때 스위치 색상 */
.toggle input[type="checkbox"] {
    width: 65px;
    height: 30px;
    appearance: none; /* 기본 브라우저 스타일 제거 */
    background-color: #333333; /* 스위치의 배경 색상 설정 (OFF 상태) */
    border-radius: 50px;
    position: absolute;
    right: 10px; /* 오른쪽에서의 거리 */
    top: 50%;
    margin-top: -15px;
    transition: all .5s ease;
    cursor: pointer;
}

/* OFF로 전환할 때 스위치 내부 원 */
.toggle input[type="checkbox"]:after {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 6px; /* 왼쪽에서의 거리 */
    margin-top: -10px;
    transition: all .3s ease;
}

/* OFF로 전환할 때 스위치 텍스트 */
.toggle input[type="checkbox"]:before {
    content: 'OFF'; /* 텍스트 내용 설정 */
    position: absolute;
    right: 10px; /* 오른쪽에서의 거리 */
    color: #ffffff;
    font-size: 12px;
    top: 50%;
    margin-top: -7px; /* 위쪽 마진 설정 (높이의 절반으로 중앙 정렬) */
    opacity: .5; /* 불투명도 설정 */
}

/* ON으로 전환할 때 스위치 색상 */
.toggle input:checked[type="checkbox"] {
    background-color: #179141; /* 배경 색상 설정 (ON 상태) */
    transition: all .5s ease; /* 모든 속성에 대한 전환 효과 설정 */
}

/* ON으로 전환할 때 스위치 텍스트 */
.toggle input:checked[type="checkbox"]:before {
    content: 'ON'; /* 텍스트 내용 설정 */
    right: auto; /* 오른쪽에서의 거리 설정 제거 */
    left: 15px; /* 왼쪽에서의 거리 설정 */
}

/* ON으로 전환할 때 스위치 내부 원 */
.toggle input:checked[type="checkbox"]:after {
    left: 40px; /* 왼쪽에서의 거리 설정 */
    transition: all .3s ease;
}